.skills-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex; /* Mantém um layout flexível para os labels */
  align-items: center; /* Centraliza os labels verticalmente */
  background-color: #f8f9fa; /* Adiciona um fundo claro para o menu */
  padding: 10px 20px; /* Espaçamento interno para afastar os conteúdos das bordas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidade */
}
.skills-menu label {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: transparent; /* Remove o fundo */
  border: none; /* Remove a borda */
  cursor: pointer;
  transition: color 0.3s; /* Suaviza a transição de cores */
  position: relative; /* Necessário para o posicionamento do indicador */
}

.skills-menu input[type="radio"] {
  display: none;
}

.skills-menu input[type="radio"]:checked + label {
  color: #333; /* Muda a cor do texto quando selecionado */
}

.skills-menu input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #7a33ff;
  display: block;
}

.skills-menu label:hover {
  color:  #7a33ff;
}

.hidden {
  display: none;
}


.btn {
  cursor: pointer;
  /* Estilo para o cursor como ponteiro para indicar que é clicável */
}


.skills {
  background-color: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}